body{
  background-color: lightblue
}
h1{ color: black; font-family: Times New Roman; font-size: 40px; font-style: italic;}
strong{color: mediumvioletred; weight: 900;}
h2{color: purple;}
a{color: red;}
#p3{color: red; font-family: Cursive; font-size: 30px;}
